.f_family{
    font-family: monospace;
}
.f_family1{
    font-family: Arial;
}
.f_family2{
    font-family: cursive;
}
.f_family3{
    font-family: vardana;
}
.f_family4{
    font-family: Impact;
}
.f_family5{
    font-family: sarif;
}
.f_family6{
    font-family: fantasy;
}
.f_family7{
    font-family: georgia;
}
.f_family8{
    font-family: cambria;
}
