.b_shadow{
    width: 300px;
    height: 300px;
    box-shadow: 5px 6px 15px red;
}
.b_shadow1{
    width: 500px;
    height: 500px;
    filter: drop-shadow(15px 9px 10px rgb(194 120 14));
}
.d_shadow2{
    width: 500px;
    height: 500px;
}